<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Account</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link
      rel="shortcut icon"
      href="../assets/images/icon_banco_occidente-removebg-preview.png"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Rubik+Dirt&family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/86e6690089.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarToggler"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <a class="navbar-brand" href="#"
            ><img
              src="../assets/images/icon_banco_occidente-removebg-preview.png"
              width="50"
              alt="icon_banco_occidente-removebg-preview"
          /></a>
          <ul
            class="navbar-nav d-flex justify-content-center align-items-center"
          >
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="../index.html"
                >Quienes somos</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Testimonios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html" disabled>Contacto</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-info" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <header>
      <div class="container-fluid">
        <div class="header__left">
          <i class="fa-solid fa-circle-half-stroke"></i>
          <i class="fa-solid fa-arrow-up-a-z"></i>
          <i class="fa-solid fa-arrow-down-z-a"></i>
        </div>
        <div class="header__rigth">
          <a href="./accounts.html">Cuentas</a>
          <a href="#">Cuenta</a>
          <a href="">Simula Solicita</a>
          <a href="">Transacciones</a>

          <img
            src="../assets/images/logo_nuevo_ban_occi-removebg-preview.png"
            alt=""
          />
        </div>
      </div>
    </header>
    <div id="App">
      <div class="container-fluid">
        <h1>Cuenta1</h1>

        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">CODE</th>
              <th scope="col">TYPE</th>
              <th scope="col">DESCRIPTION</th>
              <th scope="col">FECHA Y HORA</th>
              <th scope="col">MONTO</th>
              
            </tr>
          </thead>
          <tbody>
            <tr v-for="transaction in transactions">
              <th scope="row">{{transaction.id}}</th>
              <td>{{transaction.type}}</td>
              <td>{{transaction.description}}</td>
              <td>{{transaction.date}}</td>
              <td v-if="transaction.amount>0">{{transaction.amount}}</td>
              
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="pre__footer">
      <a href=""
        ><img
          src="../assets/images/logo_ban_occidente-removebg-preview.png"
          alt=""
      /></a>

      <div>
        <h6><b>Líneas de servicio al cliente</b></h6>
        <a href="tel:+01 800 05 14652">Nacional 01 800 05 14652</a>
        <br />
        <a href="tel:+(601) 3902058">Bogotá (601) 3902058</a>
        <br />
        <br />
        <a href=""><b>Defensor del Consumidor Financiero</b></a>
      </div>
      <div>
        <h6><b>Institucional</b></h6>
        <a href="">Linea Etica</a>
        <br />
        <a href="">Educacion Financiera</a>
        <br />
        <a href="">Politica de Tratamiento de Datos</a>
        <br />
        <a href="">Sostenibilidad</a>
      </div>
      <div>
        <h6><b>Siguenos en</b></h6>
        <a href=""
          ><img
            src="../assets/images/logo_youtbe_azul-removebg-preview.png"
            alt=""
        /></a>
        <a href=""
          ><img
            src="../assets/images/logo_linkedin_azul-removebg-preview.png"
            alt=""
        /></a>
        <a href=""
          ><img
            src="../assets/images/logo_twi_azul-removebg-preview.png"
            alt=""
        /></a>
        <a href=""
          ><img
            src="../assets/images/logo_face_azul-removebg-preview.png"
            alt=""
        /></a>
        <a href=""
          ><img
            src="../assets/images/logo_insta_azul-removebg-preview.png"
            alt=""
        /></a>
      </div>
    </div>
    <footer>
      <div class="footer__top">
        <a href=""
          ><img
            src="../assets/images/logo_fiduoccidente-removebg-preview.png"
            alt=""
        /></a>
        <a href=""><img src="../assets/images/Logo_nexabpo.png" alt="" /></a>

        <a href=""
          ><img
            src="../assets/images/logo_ciu_emp_sar_ang-removebg-preview.png"
            alt=""
        /></a>
        <a href=""
          ><img
            src="../assets/images/logo_grupo_aval-removebg-preview.png"
            alt=""
        /></a>
        <a href=""><img src="../assets/images/logo-carroya.png" alt="" /></a>
      </div>
      <div>
        <h5>Conoce Más Servicios</h5>
        <div>
          <div>
            <h5>Institucional</h5>

            <a href="">Defensor del Consumidor Financiero</a>
            <a href="">Informacion al Accionista</a>
            <a href="">Informacion al Proveedor</a>
            <a href="">Filiales y Vinculados</a>
            <a href="">Planeta Azul</a>
            <a href="">Educacion Financiera</a>
            <a href="">Linea Etica</a>
            <a href="">Linea Etica Grupo Aval</a>
          </div>
          <div>
            <h5>Productos y Servicios</h5>

            <a href="">Para Personas</a>
            <a href="">Para Empresas</a>
            <a href="">Canales y Transacciones</a>
            <a href="">Servicios Aval</a>
          </div>
          <div>
            <h5>Otros</h5>

            <a href="">Horarios de oficinas</a>
            <a href="">Unete a nuestro equipo</a>
            <a href="">Mapa del Sitio</a>
            <a href="">Licitacion Bancaseguros</a>
            <a href="">Tarifas 2023</a>
            <a href="">Notificaciones judiciales</a>
            <a href="">Certificacion Subcapitalizacion</a>
            <a href="">Paquete Minimo de servicios</a>
            <a href="">Subsidio Empleo Joven</a>
            <a href="">Borron y cuenta nueva</a>
          </div>
          <div>
            <h5>Políticas</h5>

            <a href="">Términos y Condiciones</a>
            <a href="">Políticas de Redes Sociales</a>
            <a href="">Politicas de Cookies</a>
            <a href="">Politica de Tratamiento de Datos</a>
            <a href="">Personales</a>
            <a href="">Reversion de Pagos</a>
            <a href="">Fogafin</a>
            <a href="">Consumidor Financiero</a>
            <a href="">Derechos del Consumidor Financiero</a>
            <a href="">Deberes del Banco</a>
          </div>
        </div>
      </div>
      <div class="derechos-de-autor">
        Creado por Oscar G Rubiano A (2023) &#169;
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/account.js"></script>
  </body>
</html>
